@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Switzer-Variable";
  src: url("../../public/fonts/Switzer-Variable.woff2") format("woff2"),
    url("../../public/fonts/Switzer-Variable.woff") format("woff"),
    url("../../public/fonts/Switzer-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-VariableItalic";
  src: url("../../public/fonts/Switzer-VariableItalic.woff2") format("woff2"),
    url("../../public/fonts/Switzer-VariableItalic.woff") format("woff"),
    url("../../public/fonts/Switzer-VariableItalic.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "CabinetGrotesk-Variable";
  src: url("../../public/fonts/CabinetGrotesk-Variable.woff2") format("woff2"),
    url("../../public/fonts/CabinetGrotesk-Variable.woff") format("woff"),
    url("../../public/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@layer components {
  .w-100dvw {
    width: 100dvw;
    max-width: 100dvw;
  }

  .h-100dvh {
    height: 100dvh;
    max-height: 100dvh;
  }

  .transition-300 {
    @apply duration-300 ease-in-out;
  }

  .mx-container {
    @apply mx-5 xs:mx-7 xl:mx-10 3xl:mx-auto 3xl:w-[1200px];
  }

  .mx-dashboard {
    @apply mx-5 xs:mx-7 xl:mx-10 3xl:mx-20 4xl:mx-28;
  }

  .bg-gradient {
    @apply bg-gradient-to-tr from-[#A181AB] to-[#6874CF];
  }

  .text-gradient {
    @apply bg-gradient inline-block bg-clip-text text-transparent;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
